{% extends 'base.html' %}

{% block grid %}
    <div>
        <div style="margin:10px auto;width:500px">
            <div class="ui action input">
                <input id="date" placeholder="Search..." / style="width:270px">
                <button class="ui icon button" id="submit">
                        <i class="search icon"></i>
                </button>
            </div>
        </div>
        <div class="column">
            <div class="ui segment"  id="chart" style="margin:0 5px 0 50px;width: 1250px;height: 690px" ></div>
        </div>
       
    </div>
{% endblock %}


{% block chartjs %}

<script type="text/javascript" src="../static/js/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=qxRiPO1xrQcelt4nYzSbSX2ysdwiMteh&services=&t=20180323171755"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>

<script src="../static/js/jquery-ui.min.js"></script>
<link href="../static/css/jquery-ui.min.css" rel="stylesheet" />
<script src="../static/js/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-ui-timepicker-zh-CN.js"></script>
<link href="../static/css/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />

<script type="text/javascript">

    mapboxgl.accessToken ='pk.eyJ1IjoiY2l0eXdhbmRlciIsImEiOiJjamE4ODM2YjQwNDB5MzNwY2hvanV2eDhiIn0.QCJ3-UnEddwCuxg8uvhLcQ';
    var myChart = echarts.init(document.getElementById('chart'));

    var DefaultTime=new Date(2014,5,1,0,0,0);
    
    option=null;
    
    var getScatterChart = function(RequestTime){
        myChart.showLoading();
        $.ajax({
            type:'get',
            url:'air/',
            dataType: 'json',
            async: true,
            data:{
                time:RequestTime
            },
            success : function (data){

                option=getScatterOption(data,RequestTime);

                if (option && typeof option === "object") {
                    myChart.hideLoading();
                    myChart.setOption(option, true);
                }
            }
        });
    };
    
    var convertData = function (data,pollution_name) {
        var res = [];
        for (var i in data){
            var value=data[i][pollution_name];
            console.log(value);
            if(value){
                console.log("yes");
                res.push({
                    name:data[i]['name_chinese'],
                    value: [data[i]['longitude'],data[i]['latitude'],value]
                    });
            }
        }
        return res;
    };

    var getScatterOption=function(data,time){
        var res = {
            title: {
                text: '全国部分城市城区空气质量图',
                subtext:time,
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: function(params) {
                    var res=params.seriesName+'<br/>'+params.data.name+' : '+params.value[2]+'<br/>';
                    return res;
                }
            },
            legend: {
                orient: 'vertical',  
                left: 'left',  
                data:['PM2.5','PM10','NO2','CO','O3','SO2'],
                selectedMode:"single",
            },
            visualMap: {
                left: 'right',
                min: 0,
                max: 500,
                inRange: {
                    color: ['green','yellow', 'red','#500000']
                },
                text:['High','Low'],
                calculable: true,
                realtime:true
            },  
            bmap: {
                center: [116.173553,40.090679],
                zoom: 9,
                roam: true,
                mapStyle: {
                    styleJson: [{
                        'featureType': 'water',
                        'elementType': 'all',
                        'stylers': {
                            'color': '#d1d1d1'
                        }
                    }, {
                        'featureType': 'land',
                        'elementType': 'all',
                        'stylers': {
                            'color': '#f3f3f3'
                        }
                    }, {
                        'featureType': 'railway',
                        'elementType': 'all',
                        'stylers': {
                            'visibility': 'off'
                        }
                    }, {
                        'featureType': 'highway',
                        'elementType': 'all',
                        'stylers': {
                            'color': '#fdfdfd'
                        }
                    }, {
                        'featureType': 'highway',
                        'elementType': 'labels',
                        'stylers': {
                            'visibility': 'off'
                        }
                    }, {
                        'featureType': 'arterial',
                        'elementType': 'geometry',
                        'stylers': {
                            'color': '#fefefe'
                        }
                    }, {
                        'featureType': 'arterial',
                        'elementType': 'geometry.fill',
                        'stylers': {
                            'color': '#fefefe'
                        }
                    }, {
                        'featureType': 'poi',
                        'elementType': 'all',
                        'stylers': {
                            'visibility': 'off'
                        }
                    }, {
                        'featureType': 'green',
                        'elementType': 'all',
                        'stylers': {
                            'visibility': 'off'
                        }
                    }, {
                        'featureType': 'subway',
                        'elementType': 'all',
                        'stylers': {
                            'visibility': 'off'
                        }
                    }, {
                        'featureType': 'manmade',
                        'elementType': 'all',
                        'stylers': {
                            'color': '#d1d1d1'
                        }
                    }, {
                        'featureType': 'local',
                        'elementType': 'all',
                        'stylers': {
                            'color': '#d1d1d1'
                        }
                    }, {
                        'featureType': 'arterial',
                        'elementType': 'labels',
                        'stylers': {
                            'visibility': 'off'
                        }
                    }, {
                        'featureType': 'boundary',
                        'elementType': 'all',
                        'stylers': {
                            'color': '#fefefe'
                        }
                    }, {
                        'featureType': 'building',
                        'elementType': 'all',
                        'stylers': {
                            'color': '#d1d1d1'
                        }
                    }, {
                        'featureType': 'label',
                        'elementType': 'labels.text.fill',
                        'stylers': {
                            'color': '#999999'
                        }
                    }]
                }
            },
            series : [
                {
                    name: 'PM2.5',
                    type: 'scatter',
                    coordinateSystem: 'bmap',
                    data: convertData(data,'PM25_Concentration'),
                    symbolSize: function (val) {
                        return 10;
                    },
                    label: {
                        normal: {         
                            formatter: '{b}',
                            position: 'right',
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    itemStyle: {  
                        normal: {
                            color: 'purple'
                        }
                    }
                },
                {
                    name: 'PM10',
                    type: 'scatter',
                    coordinateSystem: 'bmap',
                    data: convertData(data,'PM10_Concentration'),
                    symbolSize: function (val) {
                        return 10;
                    },
                    label: {
                        normal: {         
                            formatter: '{b}',
                            position: 'right',
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'blue'
                        }
                    }
                },
                {
                    name: 'NO2',
                    type: 'scatter',
                    coordinateSystem: 'bmap',
                    data: convertData(data,'NO2_Concentration'),
                    symbolSize: function (val) {
                        return 10;
                    },
                    label: {
                        normal: {         
                            formatter: '{b}',
                            position: 'right',
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'red'
                        }
                    }
                },
                {
                    name: 'CO',
                    type: 'scatter',
                    coordinateSystem: 'bmap',
                    data: convertData(data,'CO_Concentration'),
                    symbolSize: function (val) {
                        return 10;
                    },
                    label: {
                        normal: {         
                            formatter: '{b}',
                            position: 'right',
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'yellow'
                        }
                    }
                },
                {
                    name: 'O3',
                    type: 'scatter',
                    coordinateSystem: 'bmap',
                    data: convertData(data,'O3_Concentration'),
                    symbolSize: function (val) {
                        return 10;
                    },
                    label: {
                        normal: {         
                            formatter: '{b}',
                            position: 'right',
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'green'
                        }
                    }
                },
                {
                    name: 'SO2',
                    type: 'scatter',
                    coordinateSystem: 'bmap',
                    data: convertData(data,'SO2_Concentration'),
                    symbolSize: function (val) {
                        return 10;
                    },
                    label: {
                        normal: {         
                            formatter: '{b}',
                            position: 'right',
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'orange'
                        }
                    }
                }
            ]
        }
        return res;
    };

    myChart.on('legendselectchanged', function(obj) {
        if (option && typeof option === "object") {

            if(obj.name === 'PM2.5'){
                option.visualMap.max=500;
            }else if(obj.name === 'PM10'){
                option.visualMap.max=600;
            }else if(obj.name === 'NO2'){
                option.visualMap.max=3840;
            }else if(obj.name === 'CO'){
                option.visualMap.max=150;
            }else if(obj.name === 'O3'){
                option.visualMap.max=1200;
            }else if(obj.name === 'SO2'){
                option.visualMap.max=2620;
            }
            
            option.legend.selected=obj.selected;

            myChart.setOption(option, true);
        }
    });


    $(function() {
        $.datepicker.regional['zh-CN'] = {
            changeMonth: true,
            changeYear: true,
            clearText: '清除',
            clearStatus: '清除已选日期',
            closeText: '关闭',
            closeStatus: '不改变当前选择',
            prevText: '<上月',
            prevStatus: '显示上月',
            prevBigText: '<<',
            prevBigStatus: '显示上一年',
            nextText: '下月>',
            nextStatus: '显示下月',
            nextBigText: '>>',
            nextBigStatus: '显示下一年',
            currentText: '今天',
            currentStatus: '显示本月',
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            monthStatus: '选择月份',
            yearStatus: '选择年份',
            weekHeader: '周',
            weekStatus: '年内周次',
            dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
            dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
            dayNamesMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            //dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
            dayStatus: '设置 DD 为一周起始',
            dateStatus: '选择 m月 d日, DD',
            dateFormat: 'yy/mm/dd',
            firstDay: 1,
            initStatus: '请选择日期',
            isRTL: false
        };
    });

    $(function() {

        $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
        
        $('#date').prop("readonly", true).datetimepicker({
            timeText: 'time',
            
            hourText: 'hour',
            
            currentText: 'now',
            closeText: 'ok',
            showSecond: false, //显示秒  
            showMinute: false,
            timeFormat: 'HH:mm:ss' //格式化时间  
        });

    });

    $(document).ready(
        function(){
            $("#submit").click(function(e){
                var str=$("#date").val();
                console.log(str);
                if(str!=''){
                    var time=new Date(str);
                    getScatterChart(time);
                }
        });
    });

    getScatterChart(DefaultTime);

</script>


{% endblock %}